@import './styles/componentes.css';

:root {
  --dark: #242424;
  --darklight: #404040;
  --red: #e63946;
  --green: #2a9d8f;
  --darkblue: #14213d;
  --darkbluelight: #1f325a;
  --white: #FFFFFF;
  --yellow2: #fca311;
  --yellowМ: #ffbe0b;
  --gris: #fafafa;
  --gris2: #bcb8b1;
  --purple: #551A8B;
}

img {
  max-width: 100%;
}


.contenedor {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.centrado {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* secci贸n de header */

header {
  background-color: var(--darkblue);

}

header a {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: bold;
}

header a:hover {
  color: var(--yellow2);
}

.header__nav-principal {
  padding: 15px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-principal nav {
  width: 180px;
}

.header__nav-secundaria {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__nav-secundaria  button {
  width: 80px;
  border: none;
  padding: .5rem 1rem;
  background-color: var(--red);
  border-radius: .3rem;
  font-size: 1rem;
}

.card_position {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-nav {
}

.cart__numbers {
  top: 23px;
  right: 125px;
  width: 25px;
  height: 25px;
  background-color: var(--red);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0;
}


/* secci贸n de productos (produtos page) */

.products {
  width: 100%;
  max-width: 1400px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.product {
  border: 1px solid var(--gris2);
  border-radius: 7px;
  width: 300px
}

.product img {
  border-radius: 7px;
  width: 100%;
}

.product__body {
  margin-top: -5px;
  background-color: var(--gris);
  min-height: 120px;
  padding: 1rem;
  padding-top: 1.5rem;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.product__name {
  font-family: 'Open Sans', sans-serif;
  color: var(--purple);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.product__reviews {
  color: var(--yellow);
  font-size: 1rem;
}

.product__price {
  font-size: 1.2rem;
  padding-top: .2rem;
  padding-bottom: .8rem;
}

.product__button {
  display: block;
  width: 50%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--yellowМ);
  color: var(--dark);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.25s;
}
.product__button:hover {
  background-color: var(--yellow2);
}
.product__button:focus,
.product__button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 768px) {
  .products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* secci贸n de producto (producto page) */

.producto {
  width: 100%;
  padding: 1rem;
}

.contenedor_link {
  width: 100%;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
}

.link_button {
  margin-bottom: 1rem;
  background-color: var(--red);
  color: var(--white);
  padding: .4rem 1rem;
  text-align: center;
  border-radius: .3rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
}

.link_button-svg {
  align-self: flex-end;
}

.producto p {
  font-weight: 400;
}

.producto .product__price {
  font-size: 1rem;
  font-weight: 400;
  padding-top: .2rem;
  padding-bottom: .8rem;
}

.producto .product__name {
  padding-top: 1rem;
  color: var(--dark);
}

.detail__body .row {
  margin-bottom: .5rem;
}

.detail__status {
  padding: 1rem;
  border-radius: .3rem;
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--gris2);
  background-color: var(--gris);
}

.detail__status .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disponible {
  color: var(--green);
  font-weight: 500;
}

.disponible-false {
  color: var(--red);
  font-weight: 500;
}

.rating {
  color: var(--yellow2);
}


.detail__status p span {
  margin-bottom: 1rem;
}

.detail__status .product__button {
  width: 100%;
  margin: 1.5rem 0;
  margin-bottom: .3rem;
}


.error-producto {
  background-color: var(--red);
  padding: 1rem;
  color: var(--white);
  font-size: 1.2rem;
  border-radius: .3rem;
  margin-top: 2rem;
}

.error-producto p {
  font-weight: 600;
}

.product__nodisponible {
  color: var(--red);
  padding: .6rem 0;
}

@media screen and (min-width: 768px) {
  .product__detail {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .detail__img {
    width: 40%;
  }

  .detail__body {
    background-color: var(--white);
    padding: 1rem;
    align-self: flex-start;
    margin-top: 0;
  }

  .detail__status {
    width: 25%;
    align-self: flex-start;
  }

}

/* Cart Page */

.cart-page {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 100px 1fr 1fr;
  gap: 1rem;
}

.cart-page .contenedor_link {
  margin-top: 3rem;
  margin-left: 1rem;
  align-items: center;
}

.cart-page-h2 {
  text-align: center;
  margin: 2rem auto;

  grid-column: 1/3;
  grid-row: 2/3;
}

.volver {
  grid-column: 1/2;
  grid-row: 1/2;

  margin-top: 1rem;
}

.cart__total {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 100%;
}


.cart__items {
  grid-column: 1/3; 
  grid-row: 3/4;
  width: 100%;
}

.cart__item {
  background-color: var(--gris);
  border: 1px solid var(--gris2);
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  border-radius: .3rem;
  margin-bottom: .3rem;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: .5rem;
}

.cart__item-img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}

.cart__item-img  img {
  width: 100%;
  height: 100%;
}


.cart__item-name {
  grid-column: 2/4;
  grid-row: 1/3;
  text-align: center;
}


.cart__item-cantidad {
  grid-column: 4/6;
  grid-row: 2/3;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  margin: 0 auto;
}

.cart__item-cantidad button {
  margin: 0 auto;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cart__item-cantidad input {
  width: 40px;
  padding: 4px 12px;
}


.cart__item-precio {
  grid-column: 4/6;
  grid-row: 1/2;
  text-align: center;
}


.cart__item-eliminar {
  grid-column: 6/7;
  grid-row: 1/3;
}

.cart__item-eliminar button {
  border: none;
  padding: .4rem .5rem;
  /* background-color: var(--red); */
  border-radius: .3rem;
  color: var(--white);
  font-size: 1rem;
}

.icon-eliminar {
  display: block;
}

.span-eliminar {
  display: none;
}

.cart__total {
  background-color: var(--gris);
  padding: 1.5rem 1rem;
  border: 1px solid var(--gris2);
  width: 90%;
  margin: 2rem auto;
  border-radius: .3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart__total p {
  font-weight: 500;
}

.cart__total button {
  width: 100%;
  border: none;
  padding: .4rem .5rem;
  background-color: var(--yellowМ);
  border-radius: .3rem;
  color: var(--white);
  font-size: 1rem;
}

.cart__total button:hover {
  background-color: var(--yellow2);
}

.cart__vacio {
  grid-column: 1/3;
  grid-row: 3/4;

  margin: 0 auto;
  background-color: var(--gris);
  padding: 1rem;
  text-align: center;
  border-radius: .3rem;
  margin-top: 5rem;
}

.cart__vacio-p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  
}

.cart__vacio-link {
  text-decoration: none;
  color: var(--green);
  font-size: 1.1rem;
  cursor: pointer;
}

@media screen and (min-width: 998px) {

  .cart-page {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 100px 1fr;
    gap: 1rem;
  }
  
  .cart-page-h2 {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .volver {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  
  .cart__total {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 100%;
    height: 200px;
    margin: 0;
  }

  .cart__total p {
    padding: 1rem;
  }
  
  .cart__item {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .cart__item-name {
    grid-column: 2/4;
    grid-row: 1/3;
    text-align: center;
  }
  
  
  .cart__item-cantidad {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  
  .cart__item-precio {
    grid-column: 5/6;
    grid-row: 1/3;
  }
  
  
  .cart__item-eliminar {
    grid-column: 6/7;
    grid-row: 1/3;
  }
  
  .cart__item-eliminar button {
    border: none;
    padding: .4rem .5rem;
    background-color: var(--red);
    border-radius: .3rem;
    color: var(--white);
    font-size: 1rem;
  }
  
  .cart__total {
    width: 100%;
  }

  .icon-eliminar {
    display: none;
  }

  .span-eliminar {
    display: block;
  }

  .cart__vacio {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
}


/* signin page */

.signin__page {
  width: 100%;
  max-width: 1400px;
  margin: 10rem auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;
}

.signin__title {
  grid-column: 1/2;
  grid-row: 1/2;

  text-align: center;
}

.formulario {
  grid-column: 1/2;
  grid-row: 2/3;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.campo {
  display: flex;
  flex-direction: column;
}

.formulario label {
  display: block;
  margin-top: .8rem;
  margin-bottom: .3rem;
}

.formulario input {
  padding: .6rem 1rem;
  border: none;
  border: 1px solid var(--gris2);
  border-radius: .3rem;
  outline: none;
}

.boton__signin {
  display: block;
  width: 150px;
  padding: .6rem 1rem;
  border: none;
  background-color: var(--yellowМ);
  border-radius: .3rem;
  margin-top: 1rem;
  font-size: 1rem;
  transition: background-color .5s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}

.boton__signin:hover {
  background-color: var(--yellow2);
}









/* secci贸n del Footer */

footer {
  background-color: var(--darkblue);
  height: 100px;
  width: 100%;
  color: var(--white);
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}