@import './styles/componentes.css';

:root {
  --dark: #242424;
  --darklight: #404040;
  --red: #e63946;
  --green: #2a9d8f;
  --darkblue: #14213d;
  --darkbluelight: #1f325a;
  --white: #FFFFFF;
  --yellow2: #fca311;
  --yellowМ: #ffbe0b;
  --gris: #fafafa;
  --gris2: #bcb8b1;
  --purple: #551A8B;
}

img {
  max-width: 100%;
}


.contenedor {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.centrado {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* secci贸n de header */

header {
  background-color: var(--darkblue);

}

header a {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: bold;
}

header a:hover {
  color: var(--yellow2);
}

.header__nav-principal {
  padding: 15px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-principal nav {
  width: 180px;
}

.header__nav-secundaria {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__nav-secundaria  button {
  width: 80px;
  border: none;
  padding: .5rem 1rem;
  background-color: var(--red);
  border-radius: .3rem;
  font-size: 1rem;
}

.card_position {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-nav {
}

.cart__numbers {
  top: 23px;
  right: 125px;
  width: 25px;
  height: 25px;
  background-color: var(--red);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0;
}


/* secci贸n de productos (produtos page) */

.products {
  width: 100%;
  max-width: 1400px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.product {
  border: 1px solid var(--gris2);
  border-radius: 7px;
  width: 300px
}

.product img {
  border-radius: 7px;
  width: 100%;
}

.product__body {
  margin-top: -5px;
  background-color: var(--gris);
  min-height: 120px;
  padding: 1rem;
  padding-top: 1.5rem;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.product__name {
  font-family: 'Open Sans', sans-serif;
  color: var(--purple);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.product__reviews {
  color: var(--yellow);
  font-size: 1rem;
}

.product__price {
  font-size: 1.2rem;
  padding-top: .2rem;
  padding-bottom: .8rem;
}

.product__button {
  display: block;
  width: 50%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--yellowМ);
  color: var(--dark);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.25s;
}
.product__button:hover {
  background-color: var(--yellow2);
}
.product__button:focus,
.product__button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 768px) {
  .products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* secci贸n de producto (producto page) */

.producto {
  width: 100%;
  padding: 1rem;
}

.contenedor_link {
  width: 100%;
  margin-bottom: 1rem;
}

.link_button {
  margin-bottom: 1rem;
  background-color: var(--red);
  color: var(--white);
  padding: .4rem 1rem;
  text-align: center;
  border-radius: .3rem;
  font-weight: 500;
}

.producto p {
  font-weight: 400;
}

.producto .product__price {
  font-size: 1rem;
  font-weight: 400;
  padding-top: .2rem;
  padding-bottom: .8rem;
}

.producto .product__name {
  padding-top: 1rem;
  color: var(--dark);
}

.detail__body .row {
  margin-bottom: .5rem;
}

.detail__status {
  padding: 1rem;
  border-radius: .3rem;
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--gris2);
  background-color: var(--gris);
}

.detail__status .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disponible {
  color: var(--green);
  font-weight: 500;
}

.disponible-false {
  color: var(--red);
  font-weight: 500;
}

.rating {
  color: var(--yellow2);
}


.detail__status p span {
  margin-bottom: 1rem;
}

.detail__status .product__button {
  width: 100%;
  margin: 1.5rem 0;
  margin-bottom: .3rem;
}


.error-producto {
  background-color: var(--red);
  padding: 1rem;
  color: var(--white);
  font-size: 1.2rem;
  border-radius: .3rem;
  margin-top: 2rem;
}

.error-producto p {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .product__detail {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .detail__img {
    width: 40%;
  }

  .detail__body {
    background-color: var(--white);
    padding: 1rem;
    align-self: flex-start;
    margin-top: 0;
  }

  .detail__status {
    width: 25%;
    align-self: flex-start;
  }

}



/* secci贸n del Footer */

footer {
  background-color: var(--darkblue);
  height: 100px;
  width: 100%;
  color: var(--white);
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}